google-colab==1.0.0
nvidia-nccl-cu12==2.23.4
scooby==0.10.0
types-pytz==2024.2.0.20241003
requests-toolbelt==1.0.0
psycopg2==2.9.10
sphinxcontrib-devhelp==2.0.0
libcudf-cu12==24.10.1
geemap==0.35.1
wordcloud==1.9.4
google-crc32c==1.6.0
editdistance==0.8.1
intel-cmplr-lib-ur==2025.0.0
pyasn1_modules==0.4.1
xarray==2024.10.0
tifffile==2024.9.20
cupy-cuda12x==12.2.0
geopandas==1.0.1
astropy-iers-data==0.2024.11.18.0.35.2
etuples==0.3.9
bokeh==3.6.1
wheel==0.45.0
pyogrio==0.10.0
text-unidecode==1.3
mizani==0.13.0
contourpy==1.3.1
httpimport==1.4.0
pyperclip==1.9.0
ratelim==0.1.6
fastai==2.7.18
mdurl==0.1.2
numpy==1.26.4
dlib==19.24.2
blis==0.7.11
torch==2.5.1+cu121
grpcio==1.68.0
logical-unification==0.4.6
sphinxcontrib-serializinghtml==2.0.0
ipython==7.34.0
yarl==1.17.2
Sphinx==8.1.3
bigquery-magics==0.4.0
pathlib==1.0.1
ipyparallel==8.8.0
google-cloud-bigquery==3.25.0
PyJWT==2.10.0
cymem==2.0.8
autograd==1.7.0
stringzilla==3.10.10
pylibcugraph-cu12==24.10.0
xyzservices==2024.9.0
humanize==4.11.0
torchvision==0.20.1+cu121
imgaug==0.4.0
scs==3.2.7
googleapis-common-protos==1.66.0
soundfile==0.12.1
GitPython==3.1.43
attrs==24.2.0
qdldl==0.1.7.post4
cryptography==43.0.3
fastrlock==0.8.2
orbax-checkpoint==0.6.4
Jinja2==3.1.4
typer==0.13.0
pyparsing==3.2.0
gdown==5.2.0
google-cloud-functions==1.18.1
gitdb==4.0.11
nvidia-cuda-nvcc-cu12==12.6.77
gym-notices==0.0.8
jellyfish==1.1.0
referencing==0.35.1
itsdangerous==2.2.0
gym==0.25.2
db-dtypes==1.3.1
partd==1.4.2
Send2Trash==1.8.3
google==2.0.3
audioread==3.0.1
Markdown==3.7
py-cpuinfo==9.0.0
google-auth==2.27.0
ipykernel==5.5.6
sqlparse==0.5.2
ml-dtypes==0.4.1
nvidia-cuda-runtime-cu12==12.6.77
prometheus_client==0.21.0
PyDrive2==1.21.1
flax==0.8.5
GDAL==3.6.4
gast==0.6.0
kaggle==1.6.17
colorlover==0.3.0
protobuf==4.25.5
jax-cuda12-plugin==0.4.33
parsy==2.1
datascience==0.17.6
tf-slim==1.1.0
aiohappyeyeballs==2.4.3
tbb==2022.0.0
distro==1.9.0
rmm-cu12==24.10.0
widgetsnbextension==3.6.10
pydantic_core==2.23.4
statsmodels==0.14.4
python-box==7.2.0
yfinance==0.2.49
jax==0.4.33
portpicker==1.5.2
notebook_shim==0.2.4
markdown-it-py==3.0.0
annotated-types==0.7.0
Flask==3.0.3
rsa==4.9
langcodes==3.4.1
cons==0.4.6
pycocotools==2.0.8
ptyprocess==0.7.0
flatbuffers==24.3.25
langsmith==0.1.143
peft==0.13.2
cloudpickle==3.1.0
pygit2==1.16.0
pytz==2024.2
threadpoolctl==3.5.0
nbformat==5.10.4
docstring_parser==0.16
python-dateutil==2.8.2
nvidia-curand-cu12==10.3.7.77
debugpy==1.8.0
tensorstore==0.1.68
pyarrow-hotfix==0.6
linkify-it-py==2.0.3
miniKanren==1.0.3
sphinxcontrib-jsmath==1.0.1
mkl==2025.0.0
gin-config==0.5.0
tables==3.10.1
pandas-stubs==2.2.2.240909
Deprecated==1.2.15
pyarrow==17.0.0
google-cloud-language==2.15.1
ipyevents==2.0.2
albumentations==1.4.20
fastprogress==1.0.3
peewee==3.17.8
seaborn==0.13.2
pyspark==3.5.3
gensim==4.3.3
jupyter_core==5.7.2
lxml==5.3.0
importlib_metadata==8.5.0
mpmath==1.3.0
timm==1.0.11
missingno==0.5.2
pexpect==4.9.0
tinycss2==1.4.0
jupyter-console==6.1.0
pyasn1==0.6.1
PyOpenGL==3.1.7
StrEnum==0.4.15
networkx==3.4.2
xarray-einstats==0.8.0
pylibcudf-cu12==24.10.1
websocket-client==1.8.0
thinc==8.2.5
pyviz_comms==3.0.3
jsonschema==4.23.0
opencv-python==4.10.0.84
google-generativeai==0.8.3
pillow==11.0.0
argon2-cffi-bindings==21.2.0
Cython==3.0.11
google-cloud-resource-manager==1.13.1
preshed==3.0.9
yellowbrick==1.5
shapely==2.0.6
greenlet==3.1.1
locket==1.0.0
mdit-py-plugins==0.4.2
tenacity==9.0.0
simple-parsing==0.1.6
spacy==3.7.5
jsonpointer==3.0.0
pandas==2.2.2
tf_keras==2.17.0
pymc==5.18.2
easydict==1.13
shellingham==1.5.4
decorator==4.4.2
pyerfa==2.0.1.5
altair==4.2.2
shap==0.46.0
termcolor==2.5.0
typeguard==4.4.1
google-api-python-client==2.151.0
weasel==0.4.1
google-api-core==2.19.2
py4j==0.10.9.7
cachetools==5.5.0
huggingface-hub==0.26.2
ipywidgets==7.7.1
h11==0.14.0
zipp==3.21.0
llvmlite==0.43.0
frozenlist==1.5.0
PyYAML==6.0.2
branca==0.8.0
geocoder==1.38.1
MarkupSafe==3.0.2
jupyter-client==6.1.12
Werkzeug==3.1.3
python-louvain==0.16
parso==0.8.4
sniffio==1.3.1
traitlets==5.7.1
multipledispatch==1.0.0
google-cloud-datastore==2.20.1
tensorboard==2.17.1
googledrivedownloader==0.4
cuda-python==12.2.1
regex==2024.9.11
sentry-sdk==2.18.0
array_record==0.5.1
lazy_loader==0.4
albucore==0.0.19
defusedxml==0.7.1
eerepr==0.0.4
graphviz==0.20.3
tensorflow-metadata==1.13.1
terminado==0.18.1
chardet==5.2.0
bqplot==0.12.43
google-cloud-bigquery-storage==2.27.0
nvidia-nvjitlink-cu12==12.6.77
clarabel==0.9.0
pyOpenSSL==24.2.1
Pygments==2.18.0
cmdstanpy==1.2.4
iniconfig==2.0.0
keras==3.5.0
tensorboard-data-server==0.7.2
panel==1.5.4
scipy==1.13.1
holoviews==1.20.0
sentence-transformers==3.2.1
PyDrive==1.3.1
pandas-datareader==0.10.0
jupyterlab_pygments==0.3.0
moviepy==1.0.3
umf==0.9.0
matplotlib==3.8.0
smart-open==7.0.5
pyproj==3.7.0
numexpr==2.10.1
textblob==0.17.1
fastdownload==0.0.7
notebook==6.5.5
pygame==2.6.1
google-auth-oauthlib==1.2.1
pluggy==1.5.0
gspread-dataframe==3.3.1
dask==2024.10.0
ipytree==0.2.2
opencv-contrib-python==4.10.0.84
toml==0.10.2
pylibraft-cu12==24.10.0
tensorflow-probability==0.24.0
tensorflow-hub==0.16.1
opentelemetry-api==1.28.2
soxr==0.5.0.post1
music21==9.3.0
tomli==2.1.0
argon2-cffi==23.1.0
docutils==0.21.2
fastjsonschema==2.20.0
blosc2==2.7.1
slicer==0.0.8
cloudpathlib==0.20.0
jupyter-leaflet==0.19.2
anyio==3.7.1
vega-datasets==0.9.0
sphinxcontrib-applehelp==2.0.0
spacy-loggers==1.0.5
mistune==3.0.2
prompt_toolkit==3.0.48
optree==0.13.1
nvidia-cuda-cupti-cu12==12.6.80
sympy==1.13.1
certifi==2024.8.30
imageio==2.36.0
scikit-image==0.24.0
astropy==6.1.6
cufflinks==0.17.3
urllib3==2.2.3
geopy==2.4.1
ipyfilechooser==0.6.0
language_data==1.2.0
imutils==0.5.4
Bottleneck==1.4.2
nvidia-cufft-cu12==11.3.0.4
jsonpatch==1.33
nvidia-cusolver-cu12==11.7.1.2
jsonschema-specifications==2024.10.1
nvidia-cudnn-cu12==9.5.1.17
python-utils==3.9.0
imageio-ffmpeg==0.5.1
toolz==0.12.1
tokenizers==0.20.3
matplotlib-inline==0.1.7
opentelemetry-semantic-conventions==0.49b2
plotly==5.24.1
accelerate==1.1.1
jupyter-server==1.24.0
click==8.1.7
astunparse==1.6.3
pynvjitlink-cu12==0.4.0
httpcore==1.0.7
pytest==8.3.3
google-cloud-aiplatform==1.71.1
gspread==6.0.2
libclang==18.1.1
marisa-trie==1.2.1
param==2.1.1
langchain-text-splitters==0.3.2
patsy==1.0.1
packaging==24.2
multitasking==0.0.11
pydot==3.0.2
backcall==0.2.0
openai==1.54.4
blinker==1.9.0
librosa==0.10.2.post1
opencv-python-headless==4.10.0.84
cvxopt==1.3.2
jsonpickle==4.0.0
tqdm==4.66.6
ipython-sql==0.5.0
charset-normalizer==3.4.0
fsspec==2024.10.0
holidays==0.61
lightgbm==4.5.0
webcolors==24.11.1
imbalanced-learn==0.12.4
orjson==3.10.11
rpy2==3.4.2
httpx==0.27.2
ndindex==1.9.2
ipython-genutils==0.2.0
soupsieve==2.6
cudf-cu12==24.10.1
tweepy==4.14.0
pickleshare==0.7.5
bleach==6.2.0
propcache==0.2.0
joblib==1.4.2
ibis-framework==9.2.0
snowballstemmer==2.2.0
idna==3.10
importlib_resources==6.4.5
bigframes==1.27.0
transformers==4.46.2
tensorflow-io-gcs-filesystem==0.37.1
confection==0.1.5
earthengine-api==1.2.0
google-cloud-firestore==2.19.0
requests==2.32.3
entrypoints==0.4
optax==0.2.4
langchain-core==0.3.19
absl-py==1.4.0
duckdb==1.1.3
future==1.0.0
murmurhash==1.0.10
et_xmlfile==2.0.0
kiwisolver==1.4.7
nvidia-cublas-cu12==12.6.3.3
jieba==0.42.1
cvxpy==1.5.4
aiosignal==1.3.1
nibabel==5.3.2
jiter==0.7.1
google-resumable-media==2.7.2
nbconvert==7.16.4
glob2==0.7
google-cloud-bigquery-connection==1.16.1
tensorflow-datasets==4.9.7
numba==0.60.0
google-cloud-iam==2.16.1
firebase-admin==6.5.0
google-cloud-storage==2.8.0
pycparser==2.22
google-cloud-pubsub==2.27.1
python-slugify==8.0.4
opentelemetry-sdk==1.28.2
requests-oauthlib==1.3.1
nbclient==0.10.0
pydantic==2.9.2
docker-pycreds==0.4.0
en-core-web-sm==3.7.1
sklearn-pandas==2.2.0
jaxlib==0.4.33
wrapt==1.16.0
tornado==6.3.3
rpds-py==0.21.0
pydotplus==2.0.2
pyzmq==24.0.1
colour==0.1.5
torchsummary==1.5.1
uritemplate==4.1.1
matplotlib-venn==1.1.1
grpc-google-iam-v1==0.13.1
geographiclib==2.0
pooch==1.8.2
uc-micro-py==1.0.3
tzdata==2024.2
cffi==1.17.1
atpublic==4.1.0
setproctitle==1.3.4
webencodings==0.5.1
httplib2==0.22.0
sentencepiece==0.2.0
nest-asyncio==1.6.0
proto-plus==1.25.0
jax-cuda12-pjrt==0.4.33
pydata-google-auth==1.8.2
spacy-legacy==3.0.12
nx-cugraph-cu12==24.10.0
PySocks==1.7.1
srsly==2.4.8
platformdirs==4.3.6
smmap==5.0.1
inflect==7.4.0
xlrd==2.0.1
namex==0.0.8
ecos==2.0.14
openpyxl==3.1.5
google-ai-generativelanguage==0.6.10
eval_type_backport==0.2.0
pyshp==2.3.1
tcmlib==1.2.0
folium==0.18.0
nvidia-cusparse-cu12==12.5.4.2
hyperopt==0.2.7
typing_extensions==4.12.2
immutabledict==4.2.1
einops==0.8.0
aiohttp==3.11.2
sqlglot==25.1.0
msgpack==1.1.0
scikit-learn==1.5.2
nltk==3.9.1
babel==2.16.0
google-cloud-translate==3.17.0
torchaudio==2.5.1+cu121
proglog==0.1.10
frozendict==2.4.6
google-cloud-core==2.4.1
CacheControl==0.14.1
psutil==5.9.5
pandocfilters==1.5.1
cycler==0.12.1
pymystem3==0.2.0
async-timeout==4.0.3
pytensor==2.26.3
chex==0.1.87
tzlocal==5.2
opt_einsum==3.4.0
intel-openmp==2025.0.0
alabaster==1.0.0
more-itertools==10.5.0
stanio==0.5.1
xgboost==2.1.2
polars==1.9.0
osqp==0.6.7.post3
grpcio-status==1.62.3
sphinxcontrib-htmlhelp==2.1.0
oauthlib==3.2.2
nvtx==0.2.10
google-pasta==0.2.0
html5lib==1.1
dopamine_rl==4.0.9
mlxtend==0.23.3
diffusers==0.31.0
langchain==0.3.7
ipyleaflet==0.19.2
pandas-gbq==0.24.0
rich==13.9.4
colorcet==3.1.0
nbclassic==1.1.0
traittypes==0.2.1
multidict==6.1.0
community==1.0.0b1
fastcore==1.7.20
safetensors==0.4.5
dm-tree==0.1.8
plotnine==0.14.1
catalogue==2.0.10
kagglehub==0.3.4
oauth2client==4.1.3
sphinxcontrib-qthelp==2.0.0
fonttools==4.55.0
h5netcdf==1.4.1
prettytable==3.12.0
imagesize==1.4.1
h5py==3.12.1
google-auth-httplib2==0.2.0
exceptiongroup==1.2.2
tensorflow==2.17.1
cmake==3.30.5
natsort==8.4.0
etils==1.10.0
tabulate==0.9.0
wcwidth==0.2.13
wasabi==1.1.3
wandb==0.18.7
filelock==3.16.1
gcsfs==2024.10.0
arviz==0.20.0
SQLAlchemy==2.0.36
six==1.16.0
jupyterlab_widgets==3.0.13
promise==2.3
google-cloud-bigtable==2.27.0
prophet==1.1.6
beautifulsoup4==4.12.3
progressbar2==4.5.0
python-apt==0.0.0
types-setuptools==75.5.0.20241122
requirements-parser==0.9.0
pip==24.1.2
setuptools==75.1.0
pyparsing==2.4.7
importlib-metadata==4.6.4
python-apt==2.4.0+ubuntu4
lazr.restfulclient==0.14.4
httplib2==0.20.2
PyGObject==3.42.1
lazr.uri==1.0.6
distro==1.7.0
wadllib==1.3.6
zipp==1.0.0
PyJWT==2.3.0
keyring==23.5.0
more-itertools==8.10.0
launchpadlib==1.10.16
cryptography==3.4.8
SecretStorage==3.3.1
six==1.16.0
oauthlib==3.2.0
jeepney==0.7.1
blinker==1.4
dbus-python==1.2.18
importlib_resources==6.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
backports.tarfile==1.2.0
typeguard==4.3.0
zipp==3.19.2
platformdirs==4.2.2
wheel==0.43.0
tomli==2.0.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
typing_extensions==4.12.2
autocommand==2.2.2
inflect==7.3.1
packaging==24.1
jaraco.text==3.12.1
more-itertools==10.3.0
